[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
